
.header_container {
    width: 100%;
    position: fixed;
    padding: 1rem 1rem;
    top: 0;
    background-color: #f0f0f0;
    z-index: 100;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
  }
  
  .header_title {
    color: red;
    font-size: 4rem;
    font-weight: 700;
    text-align: left;
    margin: 0;

  }

  .header_logo {
    width: 120px;
    height: 120px;
    border-radius: 0.375rem;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header_logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }