
.header_container {
    width: 100%;
    position: fixed;
    padding: 1rem 2rem;
    top: 0;
    background-color: #f0f0f0;
    z-index: 100;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border: rounded-md;
  }
  
  .header_title {
    color: red;
    font-size: 4rem;
    font-weight: 700;
    text-align: left;
  }