.hero_container {
    width: 100%;
    height: 100vh;
    background-color: var(--color-background);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 180px;
    top: 0;
    position: fixed;
}

.hero_title {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    color: var(--color-tertiary);
}

.hero_description {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    color: var(--color-secondary);
    max-width: 800px;
}